.rule-container {
  border: 1px solid #dee2e6;
  display: flex;
  flex-direction: column;

  &__head {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #dee2e6;
  }

  &__body {
    min-height: 2rem;
  }
}