// Colors

$primary: #0878C8;
$primary-hover: #1661A1;
$neutral: #E2E2E2;
$neutral-hover: #D1D1D1;
$disabled: #f4f4f4;
$disabled-text: #d3d3d3;
$danger: #DC2F45;
$danger-hover: #BC0E32;
$white: #FFFFFF;