$separation: 1rem;

.tooltip-wrapper {
  position: relative;
  display: flow-root;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    .tooltip {
      opacity: 1;
    }
  }
}

.tooltip {
  position: absolute;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  border-radius: 0.75rem;
  white-space: nowrap;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    border-width: 8px;
    border-style: solid;
    border-color: transparent;
  }

  &.top {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: $separation;

    &::after {
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-top-color: #333;
    }
  }

  &.bottom {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: $separation;

    &::after {
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-bottom-color: #333;
    }
  }

  &.left {
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: $separation;

    &::after {
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      border-left-color: #333;
    }
  }

  &.right {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: $separation;

    &::after {
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
      border-right-color: #333;
    }
  }
}
